@import './src/assets/variables.scss';

.header-wrap {
    height: 100%;
    padding: 0 3% 0 3%;
    background-color: black;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    h2 {
        color: white;
    }

    .logo-wrap {
        height: 100%;

        #logo {
            height: 60%;
            margin-top: 40%;
        }
    }

    .social-wrap {
        height: 100%;
        width: 20%;

        display: flex;
        flex-direction: row;
        align-items: center;

        .social {
            padding: 0 10px 0 10px;

            flex: 1;
        }
    }
}
