.home-wrapper {
    // background-color: purple;
    // width: 100%;

    .description-wrapper {
        margin: 5% 0;

        display: flex;
        flex-flow: row wrap;

        .text {
            text-align: justify;

            flex: 1;

            &:first-child {
                padding-inline-end: 5%;
            }
        }
    }

    @media only screen and (max-width: 768px) {
        .description-wrapper {
            margin: 5% 0;

            display: flex;
            flex-flow: column wrap;
        }
    }
}
