.resume-wrapper {
    margin-top: 10%;

    display: flex;
    flex-direction: column;
    justify-content: center;

    h1,
    form {
        align-self: center;

        * {
            color: white;
        }

        button {
            padding: 20px;
            margin: 10px;

            border: none;
            background-color: black;
        }
    }
}
