@import '../src/assets/variables.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    ul {
        list-style: none;
    }
    text-decoration-line: none;

    p {
        font-family: 'Open Sans', sans-serif;
    }
}

.grid-container {
    height: $fullheight;
    width: $fullwidth;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 2.5fr 0.5fr;
    gap: 0px 0px;
    grid-template-areas:
        'header header header header'
        'main-content main-content main-content sidenav'
        'footer footer footer sidenav';

    .header {
        grid-area: header;
    }

    .main-content {
        grid-area: main-content;
        padding: 2% 4% 2% 4%;
        background-color: rgb(252, 235, 222);
        overflow: auto;
    }

    .sidenav {
        grid-area: sidenav;

        margin: 0 80px 20px;
        background-color: white;

        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        h1 {
            line-height: 2em;
            text-decoration: none;
            text-decoration-line: none;
            color: black;
            flex: 1;
        }
    }

    .footer {
        grid-area: footer;

        background-color: black;

        display: flex;
        justify-content: center;

        h4 {
            color: white;
            align-self: center;
        }
    }
}

@media only screen and (max-width: 768px) {
    .grid-container {
        height: $fullheight;
        width: $fullwidth;

        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.5fr 2.5fr 0.5fr 0.5fr;
        grid-template-areas:
            'header'
            'main-content'
            'sidenav'
            'footer';

        .sidenav {
            grid-area: sidenav;

            background-color: white;

            display: flex;
            flex-flow: row nowrap;
            justify-content: center;

            h1 {
                line-height: 2em;
                text-decoration: none;
                text-decoration-line: none;
                color: black;
                flex: 1;
            }
        }
    }
}
