.portfolio {
    width: 100%;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;

    .project {
        width: 300px;
        height: auto;
        margin: 10px;

        // background: white;

        &:nth-child(odd) {
            flex: 1;
        }
        &:nth-child(even) {
            flex: 0.5;
        }
    }
}
